.box-checkbox{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.superposition{
    z-index: 3;
    position: absolute;
    background-color: black;
    height: 100vh;
    width: 100%;
    top: 0px;
}

.box-mode{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}