body{
    background-color: #070518;
    color: white;
}

.container-home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-home h1 {
    font-family: Intro;
    color: rgb(232, 232, 180);
    font-size: 12vw;
}

.box-home{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.center-home{

}