.round {
    position: relative;
    padding: 4em;
}

.round label {
    background-color: transparent;
    border: 3px solid yellow;
    border-radius: 50%;
    cursor: pointer;
    height: 7em;
    width: 7em;
    left: 0;
    position: absolute;
    top: 0;
}

.round label:after {}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: yellow;
    border-color: yellow;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.round input[type="checkbox"]:checked+label span {
    color: blue;
}

label span {
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 4em;
}