.display {
 width: 70%;
}

.display p {
    display: inline-block;
    font-size: 15rem;
    margin: 0;
    font-family: Intro;
}

.display p:nth-child(1){

}

.display p:nth-child(2){
    padding-left: 2%;

}

.btn-back{
    padding: 2%;
}

.center-nbr{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

