body{
    background-color: #070518;
    color: white;
}

.container-home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-home h1 {
    font-family: Intro;
    color: rgb(232, 232, 180);
    font-size: 12vw;
}

.box-home{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.center-home{

}

.btn-home{
    background-color: yellow;
    border: none;
    color: #070518;
    padding: 15px 32px;
    border-radius: 999px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Intro;
    font-size: 25px;
    margin: 4px 4px;
    cursor: pointer;
}

.btn-home a:visited{
    color: #070518;
}